RewriteEngine on
ErrorDocument 404 /loi.html
ErrorDocument 400 /loi.html
ErrorDocument 401 /loi.html
ErrorDocument 403 /loi.html
ErrorDocument 500 /loi.html

RewriteEngine on
RewriteRule ^loi.html$ include/404.php [L]
RewriteRule ^index.html$ index.php [L]
RewriteRule ^admin.html$ admin.php [L]
RewriteRule ^dangky.html$ dangky.php [L]
RewriteRule ^thanhvien.html$ thanhvien.php [L]
RewriteRule ^naptien.html$ naptien.php [L]
RewriteRule ^banggia.html$ banggia.php [L]
RewriteRule ^rule.html$ rule.php [L]
RewriteRule ^dangxuat.html$ logout.php [L]

<Files config.php>; 
    order allow,deny 
    deny from all 
</Files>

<Files error_log>; 
    order allow,deny 
    deny from all 
</Files>