<Files config.php>; 
    order allow,deny 
    deny from all 
</Files>
<Files head.php>; 
    order allow,deny 
    deny from all 
</Files>
<Files func.php>; 
    order allow,deny 
    deny from all 
</Files>